.container{
    text-align: center;
}
table{
    margin: auto;
}
h1{
    font-size: 46px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    font-size: 30px;
    width : 456px;
    border: 4px solid rgb(3, 3, 40);
    border-radius: 19px;
    height: 65px;
}
button{
    font-size: 33px;
    background: rgb(218, 224, 225);
    width: 90px;
    height: 50px;
    border-radius: 19px;
    margin: 6px;
}
.calculator{
    background-color: rgb(23, 20, 21);
    display: inline-block;
    padding: 12px;
    border-radius: 25px;
    border: 4px solid rgb(179, 179, 182);
}
